/* Popup Modal Styles */
.popup {
    display: none; /* Initially hide the popup */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);

    padding: 30px;
    border-radius: 15px;
    z-index: 1000;
    text-align: center;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.8);
    width: 90%;
    max-width: 500px;
}

.popup-content {
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}

.popup h2 {
    font-size: 6em;
    margin-bottom: 20px;
    color: #4caf99;
}

.popup p {
    font-size: 2em;
    margin-bottom: 30px;
    color: #4caf99;
}

.popup button {
    background-color: #4caf99;
    color: rgb(228, 228, 228);
    border: none;
    padding: 12px 25px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.popup button:hover {
    background-color: #c97d1b;
}

.popup .popup-content {
    padding: 20px;
    border-radius: 12px;
}

@media screen and (max-width: 600px) {
    .popup {
        width: 90%;
        padding: 15px;
    }

    .popup h2 {
        font-size: 1.5em;
    }

    .popup p {
        font-size: 1em;
    }

    .popup button {
        width: 100%;
    }
}